<h1> Entries </h1>

<% entries = Entry.all%>

<ul>
<% for entry in entries%>
  <li>
    <%= entry["title"] %>
    <%= place["description"] %>
    <%= place["posted_on"] %>
    <%= place = Place.find_by({"id" => entry["place_id"]}) %>
    @ <%= place["name"]%>
  </li>
  <%end%>
  </ul>
      